body,
h1,
h3,
p {

	margin: 0;
	padding: 0;

}

h1 {

	background-color: aqua;

	margin: 20px 20px;

	/*
	margin : 위 오른쪽 아래 왼쪽;
	margin : 위 오른쪽(왼쪽) 아래;
	margin : 위(아래) 오른쪽(왼쪽);
	*/

}

h3 {

	background-color: crimson;
	padding: 10px 20px 100px 200px;

}

p {

	background-color: yellow;
	margin: 10px 50px 20px;

}

/*

Margin 값 입력 양식

1. 네 방향을 한번에 입력 
	margin : 위 오른쪽 아래 왼쪽;

2. 네 방향을 별도로 입력
	margin-top: ;
	margin-right: ;
	margin-bottom: ;
	margin-left: ;

	※
	margin : 위 오른쪽 아래 왼쪽;
	margin : 위 오른쪽(왼쪽) 아래;
	margin : 위(아래) 오른쪽(왼쪽);

*/
