.container {
	background-color: aqua;
	width: 1000px;
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
	display: table;
	display: none;
}

.box1 {
	background-color: rebeccapurple;
	width: 20%;
	float: left;
}

.box2 {
	background-color: yellowgreen;
	margin: 0 5%;
	width: 30%;
	float: left;
}

.box3 {
	background-color: brown;
	width: 40%;
	float: left;
}

.container2 {
	background-color: aqua;
	width: 1000px;
	margin: 0 auto;
	display: table;
	padding: 30px;
	display: none;
}

.box4 {
	background-color: salmon;
	float: left;
	width: 45%;
}

.box5 {
	background-color: darkgreen;
	float: right;
	width: 50%;
}

.box6 {
	background-color: violet;
	clear: both;
}

.container3{}
.box7{}
.box8{}
.box9{}

