body{
	background-color: gray;
}

.container {
	background-color: white;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	font-size: 67%;
	
}

h2 {
	color: gray;
	text-align: left;
	padding: 10px 0px 0px 50px;
}

.date {
	color: gray;
	text-align: right;
	padding: 60px 50px 0px;
}

.mainImg {


	padding: 10px 0px 10px 50px;
	width: 100%;

}

p {
	line-height: 30px;
	margin: 0px 150px 30px 50px;
	text-align: justify;
}

h3 {
	text-align: left;
	padding: 0px 0px 10px 50px;
}

.example {
	overflow: auto;
	display: block;
	content: "";
	clear: both;
}

.example img:nth-child(1) {
	padding: 0px 0px 30px 50px;
	width: 50%;
	display: block;
	float: left;

}

.example img:nth-child(2) {
	padding: 0px 50px 30px 0px;
	width: 50%;
	display: block;
	float: right;

}
