table {
    margin: 0 auto;
}

th {
    border: 2px solid black;
    font-size: 14px;
    color: #ffffff;
    height: 50px;
    width: 120px;
    background-color: #555555;
}

td {
    border: 2px solid black;
    width: 235px;
    background-color: #ffffff;
}
