html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
div,
ul,
ol,
li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}

table,
th,
td {
	border-collapse: collapse;
	border-spacing: 0;
}

ul,
li {
	list-style: none;
}
